* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

#wrapper {
    font-family: 'Roboto', sans-serif;
}

.contenitore {

    width: 1000px;
    margin: auto;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    padding-top: 70px;


}

p {
    font-size: 14px;
    font-weight: 300;
    padding-top: 30px;
    line-height: 2;

}
