.contenitore-header {
    display: flex;
    border-bottom: 1px solid lightgrey;
}

.header-top {
    width: 100%;
    padding-left: $font * 2;

    .top {

        display: flex;

        .title {

            width: 50%;
            font-size: 25px;
            padding: $font 0;
            display: flex;
            align-items: center;

            img {
                width: $font * 8;
            }
            span {
                margin-left: $font - 5;
                color: $color_grey;
            }
        }

        .account {

            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            i {
                font-size: $font * 2;
            }
            img {
                width: $font * 4;
                margin: 0 $font * 2;
            }
        }
    }

    .lista {

        ul {

            font-weight: bold;

            li {
                display: inline-block;
                font-size: 16px;
                margin-right: $font * 5;
                padding-bottom: 6px;
                color: $color_grey;

                    &:last-child {
                        color: $color_blue;
                        border-bottom: 3px solid $color_blue;
                    }
            }
        }
    }

}
